@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #D5F60F !important;
        border-radius: 10px;
        filter: drop-shadow(0px 0px 5px rgba(213, 246, 15, 0.7));
        transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
        opacity: 0;
    }

    .scrollbar-visible::-webkit-scrollbar-thumb {
        opacity: 1;
    }

    .scrollbar-hidden::-webkit-scrollbar-thumb {
        opacity: 0;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #C0E30D !important;
        filter: drop-shadow(0px 0px 8px rgba(192, 227, 13, 0.9));
    }
}