@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: hsl(69, 93%, 50%) !important;
        border-radius: 10px;
        transition: opacity 0.3s ease-in-out, background 0.3s ease-in-out;
        opacity: 0;
    }

    .scrollbar-visible::-webkit-scrollbar-thumb {
        opacity: 1;
    }
    .scrollbar-hidden {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .scrollbar-hidden::-webkit-scrollbar {
        display: none;
    }    


    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #C0E30D !important;
        filter: drop-shadow(0px 0px 8px rgba(192, 227, 13, 0.9));
    }
}

@layer base {
    html[lang="en"] {
        font-family: 'Istok Web', cursive;
    }
    html[lang="fa"] {
        font-family: 'Vazirmatn', cursive;
    }
}